.head-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.light-mode .light-logo {
  display: inline;
}

.light-mode .dark-logo {
  display: none;
}

.dark-mode .dark-logo {
  display: inline;
}

.dark-mode .light-logo {
  display: none;
}

.dark-mode {
  padding: 25px;
  background-image: url("../images/pexels-pixabay-73873.png");
  color: var(--primary-text-color);
}

.dark-mode li a:focus {
  background-color: rgba(45, 45, 45, 0.5);
  box-shadow: 0 0 2px 1px #eb212e;
  text-shadow: var(--primary-text-shadow);
  border-radius: 10px;
  outline: none;
}

.dark-mode li a:hover {
  background-color: rgba(45, 45, 45, 0.5);
  box-shadow: 0 0 2px 1px #eb212e;
  text-shadow: var(--primary-text-shadow);
  border-radius: 10px;
  outline: none;
}

#logo-type {
  max-width: 140px;
  max-height: 87px;
  margin-top: 10px;
}

ul li {
  list-style: none;
}

li a {
  font-size: xx-large;
  margin: 10px;
  text-shadow: var(--primary-text-shadow);
  border: 30px;
  transition: background-color 0.5s ease-in-out;
}

/* Tabbar */
li a:focus {
  background-color: rgba(45, 45, 45, 0.5);
  box-shadow: 0 0 2px 1px #2e67f8;
  text-shadow: var(--primary-text-shadow);
  border-radius: 10px;
  outline: none;
}

/* Klickar */
a:active {
  background-color: #2e67f8 !important;
  color: var(--primary-text-color) !important;
}

li a.active {
  text-decoration: underline;
  font-weight: bold;
}

a:visited {
  /* color: black; */
}

li a:hover {
  background-color: rgba(45, 45, 45, 0.5);
  box-shadow: var(--primary-color);
  text-shadow: var(--primary-text-shadow);
  border-radius: 10px;
  outline: none;
}

.menu-container {
  display: flex;
}

.navbar {
  overflow: hidden;
}

.navbar a {
  display: inline-block;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.menu-icon {
  display: none;
  font-size: 30px;
  color: var(--primary-text-color);
  padding: 14px 20px;
  cursor: pointer;
}

.navbar-links {
  display: flex;

  a {
    font-family: var(--secondary-font);
  }
}

.lightsaber {
  height: 40px;
  width: 40px;
  margin-top: 28px;
}

@media (max-width: 600px) {
  .navbar-links {
    margin-top: 10px;
    display: none;
    /* box-shadow: var(--primary-color); */
    /* background-color: rgba(45, 45, 45, 0.5); */
    border-radius: 10px;
    z-index: 1;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
  }

  #logo-type {
    display: none;
  }
  .menu-icon {
    display: block;
  }

  .navbar.open .navbar-links {
    display: flex;
  }

  .navbar-links a {
    text-align: left;
    float: none;
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .navbar-links {
    margin-top: 10px;
    border-radius: 10px;
    /* z-index: 1; */
    flex-direction: row;
    margin-bottom: 10px;
    /* width: 100%; */
  }

  /* .navbar a {
    display: inline-block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  } */

  li a {
    font-size: x-large;
    margin: 0;
    padding: 0;
  }

  .menu-container {
    display: flex;
  }

  .navbar a {
    display: inline-block;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
  }
}

@media screen and (min-width: 900px) {
  li a {
    font-size: xx-large;
  }

  .navbar a {
    display: inline-block;
    padding: 14px 20px;
  }
}
