@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #2d2d2d;
  --secondary-color: #fff;
  --primary-text-color: #fff;
  --primary-text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black;
}

html {
  min-height: 100vh;
}

.test {
  min-height: 80vh;
}

body {
  padding: 25px;
  color: var(--primary-text-color);
  background-image: url("../images/pexels-kaip-1341279.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: auto;
  margin-top: 50px;
}

.flex-container {
  flex-direction: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
}

.content-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
  width: 100%;
  border-radius: 10px;
  background-color: rgba(45, 45, 45, 0.5);
  box-shadow: 0 0 2px 1px #2e67f8;
  padding: 20px;
}

.content-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
  width: 100%;
  border-radius: 10px;
  background-color: rgba(45, 45, 45, 0.5);
  box-shadow: 0 0 2px 1px #2e67f8;
  padding: 20px;
}

.content-text {
  max-width: 400px;
}

#ship-img {
  margin-bottom: 20px;
  border-radius: 30px;
  box-shadow: 0 0 2px 1px #2e67f8;
}

.btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 5px;
  transition: all 0.3s ease;
  text-shadow: var(--primary-text-shadow);
  box-shadow: 0 0 2px 1px #2e67f8;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: background-color 0.5s ease-in-out;
}

.btn:focus {
  background-color: #2e67f8;
  outline: none;
}

.dark-mode {
  .btn {
    box-shadow: 0 0 2px 1px #eb212e;
  }
  .form-container {
    box-shadow: 0 0 2px 1px #eb212e;
  }
  .card {
    box-shadow: 0 0 2px 1px #eb212e;
  }
  .card-image {
    box-shadow: 0 0 2px 1px #eb212e;
  }
  .content-right {
    box-shadow: 0 0 2px 1px #eb212e;
  }
  .content-left {
    box-shadow: 0 0 2px 1px #eb212e;
  }
  #ship-img {
    box-shadow: 0 0 2px 1px #eb212e;
  }
  input {
    box-shadow: 0 0 2px 1px #eb212e;
  }
  textarea {
    box-shadow: 0 0 2px 1px #eb212e;
  }
  .btn:hover {
    background-color: #eb212e;
  }
  .btn:focus {
    background-color: #eb212e;
  }
  /* li:focus {
    box-shadow: 0 0 2px 1px #eb212e;
  }
  a:focus {
    box-shadow: 0 0 2px 1px #eb212e;
  } */
}

.btn:hover {
  background-color: #2e67f8;
}

.btn-form {
  padding: 10px 20px;
  box-shadow: 0 0 2px 1px #2e67f8;
  text-shadow: var(--primary-text-shadow);
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: large;
}

.btn-theme {
  text-shadow: var(--primary-text-shadow);
}

.form-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: rgba(45, 45, 45, 0.5);
  box-shadow: 0 0 2px 1px #2e67f8;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionTitle {
  padding-top: 20px;
}

.section-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

input,
textarea {
  color: #fff;
  background-color: unset;
  border-radius: 20px;
  box-sizing: border-box;
  justify-self: center;
  height: 50px;
  padding-left: 16px;
  box-shadow: 0 0 2px 1px #2e67f8;
  width: 70%;
  margin: 20px 20px 20px 20px;
  outline: none;
}

textarea {
  padding-top: 16px;
  resize: none;
  height: 250px;
}

h2 {
  text-shadow: var(--primary-text-shadow);
  font-weight: bold;
  font-size: 30px;
}

p {
  font-size: medium;
  text-shadow: var(--primary-text-shadow);
}

em {
  text-shadow: var(--primary-text-shadow);
}

.travel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  padding: 60px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  background-color: rgba(45, 45, 45, 0.5);
  border-radius: 10px;
  width: 20%;
  padding: 20px;
  box-shadow: 0 0 2px 1px #2e67f8;
}

.card-image {
  box-shadow: 0 0 2px 1px #2e67f8;
  border-radius: 10px;
}

.card-text {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
}

.information {
  max-width: 60%;
}

body:after {
  content: "mobil";
  background-color: #d0eb21;
  position: fixed;
  top: 0;
  right: 0;
}

.card {
  width: 100%;
}

@media screen and (min-width: 768px) {
  body:after {
    content: "Ipad";
    background-color: #eb212e;
  }

  .form-container::after {
    margin-right: 0;
    margin-left: 0;
  }

  .card {
    width: 45%;
  }

  .content-left {
    width: 50%;
  }

  .content-right {
    width: 50%;
    /* padding: 0; */
  }

  .container {
    flex-direction: row;
  }

  #ship-img {
    /* height: 50%; */
  }

  /* .content-left {
    width: 100%;
    margin: 10px 0;
  }
  

  .content-right {
    width: 100%;
    margin-top: 0;
  }

  .content-image {
    max-width: 90%;
  } */
}

@media screen and (min-width: 1072px) {
  body:after {
    content: "Laptop";
    background-color: green;
  }

  /* .container {
    margin: 0;
  } */
  .card {
    /* background-color: #2e67f8; */
    width: 20%;
  }

  .content-left {
    width: 100%;
  }

  .content-right {
    width: 100%;
  }
}
